name: CI with SonarQube and Conditional Deploy
   
on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  build-and-analyze:
    name: Build and SonarQube Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Cache SonarQube packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
      
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      # - name: Run SonarQube scan
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #   run: |
      #     mvn sonar:sonar \
      #       -Dsonar.projectKey=my_project_key \
      #       -Dsonar.host.url=https://sonar.mycompany.com \
      #       -Dsonar.login=$SONAR_TOKEN

  check-quality-gate:
    name: Check SonarQube Quality Gate
    runs-on: ubuntu-latest
    needs: build-and-analyze
    steps:
      - name: Wait for Quality Gate result
        uses: sonarsource/sonarqube-quality-gate-action@v1.1.0
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest
    needs: check-quality-gate
    if: success()  # Solo se ejecuta si el job anterior pasó
    steps:
      - name: Deploy to production
        run: echo "Desplegando aplicación..."
